.Creacion{
    background-color: white;
    margin-top: 3%;
}
.tituloCreacion {
    font-size: 200%;
    color: black;
}

.creacionDetalles {
    margin-left: 10%;
    border: 2px solid rgba(72, 72, 72, 0.3);
    border-radius: 2%;
}

.imagen {
    width: 720px;
}

.creacionComponents {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 2%;
    padding-bottom: 2%;

}

.textoCreacion {
    font-size: 100%;
    font-weight: 400;
}
.componentesybotones{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.botonCreacion{
    margin-right: 3%;
}
.botonesCreacion{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 2%;
    width: 50%;
}