
  
  footer div {
    width: 100%; /* Cambiamos esto a 100% */
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
  
  h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    width: 50%; /* Añadimos un ancho para distribuir el espacio de manera uniforme */
  }
  
  p {
    font-size: 1em;
    margin-bottom: 5px;
    width: 50%; /* Añadimos un ancho para distribuir el espacio de manera uniforme */
  }
  

.piezaFooter {
    margin-left: 2%;
}

.contactForm {
  width: 50%; /* Asignamos un ancho al ContactForm */
  box-sizing: border-box; /* Para incluir el padding en el cálculo del ancho */
}
.footerTodo{
  margin-top: 2%;
  background-color: #393939;
  color: white;
  height: 10%;
  
}